*{
    background-color: cyan;
}

.heading {
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    font-family: 'Josefin Sans', sans-serif;
    
}

.heading > p, span{
    background-color: yellow;
    padding: 10px 10px;
    border: 6px solid yellow;
    border-radius: 20px;

}

.img_style {
    display: flex;
    justify-content: space-evenly;
}

.img_style img {
    width: 300px;
    height: 400px;
}